.popup-wrap{display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;left:0;bottom:0;z-index:999;backdrop-filter:blur(2px);background-color:#0000003d;padding:0 20px;}
.popup-wrap .back{position:absolute;top:0;right:0;left:0;bottom:0;}
.popup-wrap .inner{background:#fff;width:100%;max-width:550px;border-radius:12px;display:flex;flex-direction:column;position:relative;}
.popup-wrap .inner .close{position:absolute;top:30px;right:30px;}
.popup-wrap .inner .close-icon{position:absolute;top:16px;right:24px;cursor: pointer;}
.popup-wrap .inner .heading{color:#231F20;text-align:left;font-size: 20px;font-weight: 600;line-height: 32px;padding:16px 24px; border-bottom:1px solid #F2F2F2;}
.popup-wrap .inner .tab-wrap{padding:16px 24px;display: flex;justify-content:space-between;}
.popup-wrap .inner .tab-wrap .btn{border:none;border-bottom:4px solid#D9D9D9 !important;background:none;font-size: 16px;font-weight: 600;line-height: 24px;color:#231F20;padding:0 85px;border-radius:2px;cursor: pointer;}
.popup-wrap .inner .tab-wrap .active{border-bottom:4px solid #3F84F8 !important;}
.popup-wrap .inner .form{padding:0 24px 24px;border-bottom:1px solid #F2F2F2;}
.popup-wrap .inner .form .field-group{display: flex;flex-direction: column;padding:0 0 20px;position:relative;}
.popup-wrap .inner .form .field-group:last-child{padding-bottom:0px !important;}
.popup-wrap .inner .form .field-group .label{font-size:16px;font-weight:500;margin:0 0 10px;color:#231F20;}
.popup-wrap .inner .form .field-group .label span{font-size:14px;font-weight:500;margin:0 0 10px;color:#999CA0;}
.popup-wrap .inner .form .field-group .input{background:#FFF;border-radius:8px;border:1px solid#F2F2F2;padding:12px 16px;outline:none;font-size:16px;font-weight:400;line-height:24px;color:#999CA0;}
.popup-wrap .inner .form .field-group .icon{position:absolute;top:44px;right:17px;cursor: pointer;}
.popup-wrap .inner .form .field-group .input::placeholder{font-size:16px;font-weight:400;line-height:24px;color:#999CA0;}
.btn-wrap{display: flex;justify-content:flex-end;padding:24px;gap:16px;}
.btn-wrap .next-btn{border-radius:8px;background:#3E84F8;padding:8px 16px;border:none;color:#FFF;font-size: 14px;font-weight: 600;line-height: 24px;cursor: pointer;}
.btn-wrap .back-btn{border-radius:8px;padding:8px 16px;border:1px solid #999CA0;background:#fff;cursor: pointer;}

@media(max-width:767px){
    .popup-wrap{padding:0 !important;align-items:flex-end !important;}
    .popup-wrap .inner{padding:20px !important;border-radius:12px 12px 0 0 !important;}
}
@media(max-width:576px){
    .popup-wrap{padding:0 !important;align-items:flex-end !important;}
    .popup-wrap .inner{padding:20px !important;border-radius:12px 12px 0 0 !important;}
    .popup-wrap .inner .tab-wrap .btn{padding:0 50px;}
    .popup-wrap .inner .form .field-group .label{font-size:14px;}
    .popup-wrap .inner .form .field-group .input{font-size:14px;}
    .popup-wrap .inner .form .field-group .input::placeholder{font-size:14px;}
    .popup-wrap .inner .close-icon{top:36px;right:40px;}
}