.sidebar-wrap{flex:0 0 auto;transition:width 0.25s ease-in-out 0s;width:270px;overflow:visible;position:relative;}
.sidebar{overflow:visible;background-color:#4285F4;padding:40px 0px 40px 50px;display:flex;flex-direction:column;border-radius:15px;position:fixed;height:100%;z-index:1200;top: 0px;width:220px;overflow-y: auto;transition:width 0.25s ease-in-out 0s;}
.sidebar .sidebar-title{font-size:36px;font-weight:700;color:#FFF;font-family:Montserrat;}
.sidebar .sidebar-lists{margin:60px 0 120px;padding:0;display:flex;flex-direction:column;row-gap:40px;}
.sidebar .sidebar-lists .list-item{max-width:210px;width:100%;list-style:none;}
.sidebar .sidebar-lists .link{text-decoration:none;color:#FFF;font-family:Montserrat;font-size:18px;font-weight:400;display:flex;column-gap:5px;align-items:center;}
.sidebar .sidebar-lists .link span{height:18px;}
.sidebar .sidebar-lists .active{font-size:18px;font-weight:700;}
.sidebar .sidebar-footer{display:flex;flex-direction:column;row-gap:20px;}
.sidebar .sidebar-footer .list-item .link{text-decoration:none;color:#FFF;font-family:Montserrat;font-size:14px;font-weight:400;}
.toggle{display: none;}
@media(max-width:1164px){
    .sidebar-wrap{width:245px;}
    .sidebar{padding:40px 0px 40px 30px;width:210px;}
}
@media(max-width:991px){
    .sidebar-wrap{display:none;}
    .sidebar-open{display: block !important;z-index:111111;position: absolute;}
    .toggle{z-index: 11111111;position: absolute;left:222px;border-radius:50%;padding: 3px;background-color: #4285F4;border:none;display: block;transform: rotate(90deg);}
    .toggle svg path{stroke:#fff;}
}